* {
  font-family: Inter;
}
.sidebar {
  width: 217px;
  height: 872px;
  padding: 8.188rem 0 0 0;
  background-color: #fff;
  margin: 24px 24px 40px 96px;
  li {
    padding-left: 16px;
    list-style: none;
    margin-bottom: 8px;
  }

  a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;

    transition: background-color 0.3s;
    padding: 16px;

        .active-link {
      background-color: #c06ecc;
      border-radius: 8px;
      padding: 16px;
      width: 185px;
      height: 56px;
      color: white;

      svg {
        path {
          fill: white;
        }
      }
    }
  }

  svg {
    width: 20px;
    height: 20px;
    margin-right: 16px;

    path {
      fill: black;
    }
  }
}
