.modal{
    height: 100vh;
    width: 100vw;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.70);
    transform: scale(0);
    opacity: 0;
    
    
}
.modal.active{
    transform: scale(1);
    opacity: 1;
    
    
}
.modal__content{
    transform: scale(1);
    transition: 0.4s all;
    background-color: white;
    height: 100vh;
    
}

.buttons{
    width: 40rem;
    height: 5.063rem;
    border-bottom: 1px solid #D0D3DA;
    display: flex;
    justify-content: center;
    margin-top: 1.656rem;
    margin-bottom: 1rem;
    
}

.btn-delete{
    padding: 0.75rem 6.438rem;
    font-family: Inter;
    border-radius: 4px;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
margin-right: 1rem;
width: 272px;
height: 48px;
border-radius: 4px;
border: 1px solid var(--grayspace-layout-gray-30, #D0D3DA);
background: var(--grayspace-layout-white, #FFF);
}

.btn-save{
    padding: 0.75rem 5.813rem;
    border-radius: 4px;
border: 1px solid var(--cskc-06-ecc-400, #BD68CA);
background: var(--cskc-06-ecc-500, #C06ECC);
    font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 24px;
color: white;
width: 272px;
height: 48px;
}

.select-inputs{
    overflow-x: scroll;

.field{
    display: flex;
    flex-direction: column;
    width: 560px;
    height: 68px;
    margin: 0.5rem auto;

    label{
        color: var(--grayspace-text-gray-90, #37393D);
font-family: Inter;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: 24px;
    }
}
}

input, select{
    height: 40px;
    padding: 0.625rem 0.75rem;
    margin-right: 1.063rem;
}
option{
    padding: 0.625rem 0.75rem; 
}