.wrapper{
    width: 1440px;
    height: 100%;
    background-color: rgb(223, 223, 223);
    display: flex;
.content{
    width: 1007px;
    height: 872px;
    padding: 24px;
    border-radius: 24px 24px 0 0;
    background-color: white;
    box-shadow: -5px 1px 15px 0px rgba(0, 0, 0, 0.05);
    margin: 24px 96px 64px 0;
}
}