
.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Inter;
    overflow: scroll;

    thead {
      .table__categories {
        background-color: #f5f5f5;
        font-weight: bold;
  
        

        th {
          padding: 10px 8px;
          text-align: left;
          color: var(--grayspace-text-gray-70, #737680);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
          
        }
        td{
            padding: 14px 16px;
        }
        input{
            width: 16px;
            height: 16px;
        }
      }
    }
  
    tbody {
      tr {
        input{
            width: 16px;
            height: 16px;
        }
        td {
            font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
          padding: 26px 16px;
        }
      }
    }
  }
  

