.content{
    position: relative;
}
.container {
    height: 46.875rem; 
    overflow-y: scroll;
    position: relative
  }
  .container::-webkit-scrollbar {
    width: 0;
  }
  ::-webkit-scrollbar {
    width: 0;
  }
  
